.brandingBigPicture {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("../../../../public/brandingBigPicMob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e9e9eb;
  text-align: right;
  padding-right: 10%;
  overflow: hidden;
}
@media only screen and (orientation: landscape) {
  .brandingBigPicture {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-image: url("../../../../public/brandingBigPic.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #bdbdbe;
    text-align: right;
    padding-right: 10%;
    overflow: hidden;
  }
}

.h1Test {
  margin-top: 25%;
  /* visibility: hidden; */
  font-family: "Assistant";
}
