.koteret {
  margin-top: 200px;
  text-align: center;
  text-align: center;
  font-weight: 400;

  color: #fff;
  display: block;
  width: 100%;
  /* position: absolute; */
  font-family: "Nothing You Could Do", cursive;
  font-size: 80px;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  line-height: 1;
}

.signInDiv {
  text-align: center;
}
